html { 
  background: url(TMT-Atena-Background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}

.bes {
	background-image: url(https://pbs.twimg.com/profile_images/1444479784982130693/onlJbcTK_400x400.jpg);	
	background-opacity: 50%;
	width: 200px !important;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.kda {
	background-image: url(https://pbs.twimg.com/profile_images/1443603943817424901/HxT7FTfO_400x400.jpg);	
	background-opacity: 50%;
	width: 200px !important;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
}


.tfx {
	background-image: url(https://pbs.twimg.com/profile_images/1410337639866175490/mR_Xz6Hs_400x400.jpg);	
	background-opacity: 50%;
	width: 200px !important;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.four {
	background-image: url(https://pbs.twimg.com/profile_images/1405886251358724099/Xz4hFv7n_400x400.jpg);	
	background-opacity: 50%;
	width: 200px !important;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.logo{
	position: relative;
	background: url(TMT-Atena-Logo.png) no-repeat center center scroll; 
	background-size: auto 320px;
    background-position: top;
	height: 320px;
	/*margin-top: -10%; */
}

body {
	background-color: transparent;
}

.card {
	padding-top: 2em;
	padding-bottom: 1em;
	border-right: 1em;
	margin-bottom: 1em;
	background-color: #4c2671 !important;
}

.t-2 {
	padding-top: 0.5em;
}
